In [1]:
from googleapiclient.discovery import build
from pymongo import MongoClient
import pymongo
import mysql.connector
import pandas as pd
from datetime import datetime
import streamlit as st

### 1 api key connection

In [2]:
#1 api key connection (this helps to access youtube)
def Api_connect():
    Api_Id = "AIzaSyAkjMvszq6Dq6k40bamjcx-im6HjOAuhIk"
    api_service_name = "youtube"
    api_version = "v3"

    youtube = build(api_service_name, api_version, developerKey=Api_Id)

    return youtube
    
youtube = Api_connect()

In [ ]:
# channel ids
# mr.GK channel id =  "UC5cY198GU1MQMIPJgMkCJ_Q" 
# science with sam = "UChGd9JY4yMegY6PxqpBjpRA"
# Rich Mindset = "UC8iZZpzkBAXexWNBprWz3Aw"
# all in one tamil channel = "UC1WEyLaSHvZlc9B4-qgqScw"

### 2 get channel id

In [ ]:
#2 get channel information

def get_channel_info(channel_id):
    request =youtube.channels().list(
                    part = "snippet,ContentDetails,statistics",
                    id = channel_id
    )
    response = request.execute()

    for i in response['items']:
        data = dict(Channel_Name = i['snippet']['title'],
                    Channel_Id = i['id'],
                    Subscribers = i['statistics']['subscriberCount'],
                    Views = i['statistics']['viewCount'],
                    Total_Videos=i['statistics']['videoCount'],
                    Channel_Description = i['snippet']['description'],
                    Playlist_Id = i['contentDetails']['relatedPlaylists']['uploads'])
    return data

In [4]:
Channel_details = get_channel_info("UC1WEyLaSHvZlc9B4-qgqScw")
Channel_details

{'Channel_Name': 'All In One Tamil Channel',
 'Channel_Id': 'UC1WEyLaSHvZlc9B4-qgqScw',
 'Subscribers': '156',
 'Views': '69357',
 'Total_Videos': '9',
 'Channel_Description': '',
 'Playlist_Id': 'UU1WEyLaSHvZlc9B4-qgqScw'}

### 3 get video ids

In [5]:
# 3 get video ids
def get_videos_ids(channel_id):
    video_ids=[]
    response=youtube.channels().list(id=channel_id,
                                    part='contentDetails').execute()
    Playlist_Id=response['items'][0]['contentDetails']['relatedPlaylists']['uploads'] 

    next_page_token=None
    while True:
        response1=youtube.playlistItems().list(
                                            part='snippet',
                                            playlistId=Playlist_Id,
                                            maxResults=50,
                                            pageToken=next_page_token).execute()

        for i in range(len(response1['items'])):
            video_ids.append(response1['items'][i]['snippet']['resourceId']['videoId'])
        next_page_token=response1.get('nextPageToken')

        if next_page_token is None:
            break
    return video_ids

In [6]:
Video_Ids=get_videos_ids("UC1WEyLaSHvZlc9B4-qgqScw")
Video_Ids

['NpQu_oLlmWU',
 '8KJ5F-tYvyU',
 'YunpFKSs4FE',
 'F4AoIFv-lyc',
 '96olMdc8PsU',
 'RoUCrwUNpcM',
 'hZFOfDLcTpo',
 'xtc-FEWld6Y',
 'qBG2nP17_q8']

### 4 get video information

In [7]:
#  4 get video information
def get_video_info(video_ids):
    video_data=[]
    for video_id in video_ids:
        request=youtube.videos().list(
            part="snippet,ContentDetails,statistics",
            id=video_id
        )
        response=request.execute()

        for item in response["items"]:
            data=dict(Channel_Name=item['snippet']['channelTitle'],
                    Channel_Id=item['snippet']['channelId'],
                    Video_Id=item['id'],
                    Title=item['snippet']['title'],
                    Tags=item['snippet'].get('tags'),
                    Thumbnail=item['snippet']['thumbnails']['default']['url'],
                    Description=item['snippet'].get('description'),
                    Published=item['snippet']['publishedAt'],
                    Duration=item['contentDetails']['duration'],
                    Views=item['statistics'].get('viewCount'),
                    Likes=item['statistics'].get('likeCount'),
                    Comments=item['statistics'].get('commentCount'),
                    Favourite_Count=item['statistics']['favoriteCount'],
                    Definition=item['contentDetails']['definition'],
                    Caption_Status=item['contentDetails']['caption']
                    )
            video_data.append(data)
    return video_data

In [8]:
video_details=get_video_info(Video_Ids)
video_details
len(video_details)

9

### 5 get comment information

In [9]:
# 5 get comment information

def get_comment_info(video_ids):
    Comment_data=[]
    try:
        for video_id in video_ids:
            request=youtube.commentThreads().list(
                part="snippet",
                videoId=video_id,
                maxResults=50
            )
            response=request.execute()

            for item in response['items']:
                data=dict(Comment_Id=item['snippet']['topLevelComment']['id'],
                        Video_Id=item['snippet']['topLevelComment']['snippet']['videoId'],
                        Comment_Text=item['snippet']['topLevelComment']['snippet']['textDisplay'],
                        Comment_Author=item['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                        Comment_Published=item['snippet']['topLevelComment']['snippet']['publishedAt'])

                Comment_data.append(data)     
    except:
        pass
    return Comment_data

In [10]:
comment_details=get_comment_info(Video_Ids)
comment_details
len(comment_details)

31

### 6 get playist details

In [11]:
# 6 get playist details

def get_playlist_details(channel_id):
    next_page_token=None
    All_data=[]
    while True:
        request=youtube.playlists().list(
                part='snippet,contentDetails',
                channelId=channel_id,
                maxResults=50,
                pageToken=next_page_token
        )
        response=request.execute()

        for item in response['items']:
            data=dict(Playlist_Id=item['id'],
                    Title=item['snippet']['title'],
                    Channel_Id=item['snippet']['channelId'],
                    Channel_Name=item['snippet']['channelTitle'],
                    PublishedAt=item['snippet']['publishedAt'],
                    Video_Count=item['contentDetails']['itemCount'] )
            All_data.append(data)
        next_page_token=response.get('nextPageToken')
        if next_page_token is None:
            break

    return All_data

In [12]:
playlist_details=get_playlist_details("UC1WEyLaSHvZlc9B4-qgqScw")
playlist_details
len(playlist_details)

0

### 7 upload to mongodb

In [32]:
# create connection for pymongo 1
#upload to mongodb

# Requires the PyMongo package.
# https://api.mongodb.com/python/current
#mongodb+srv://thalakumara619:<db_password>@datascienceproject.9eegkw6.mongodb.net/?retryWrites=true&w=majority&appName=DataScienceProject

client=pymongo.MongoClient("mongodb+srv://thalakumara619:kumara@datascienceproject.9eegkw6.mongodb.net/?retryWrites=true&w=majority&appName=DataScienceProject")
db=client["Youtube_data"]

In [6]:
all_channels= []
db=client["Youtube_data"]
coll1= db["channel_details"]
for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
    all_channels.append(ch_data['channel_information']['Channel_Name'])

In [ ]:
all_channels

In [13]:
single_channel_detail=[]
db=client["Youtube_data"]
coll1= db["channel_details"]
for ch_data in coll1.find({"channel_information.Channel_Name": "Mr. GK"},{"_id":0}):
    single_channel_detail.append(ch_data["channel_information"])

df_single_channel_detail = pd.DataFrame(single_channel_detail)

In [14]:
df_single_channel_detail

,Channel_Name,Channel_Id,Subscribers,Views,Total_Videos,Channel_Description,Playlist_Id
0,Mr. GK,UC5cY198GU1MQMIPJgMkCJ_Q,1610000,269782147,669,Please contact me at mrgktamil@gmail.com\n\nFo...,UU5cY198GU1MQMIPJgMkCJ_Q

In [14]:
def channel_details(channel_id):
    ch_details= get_channel_info(channel_id)
    pl_details= get_playlist_details(channel_id)
    vi_ids= get_videos_ids(channel_id)
    vi_details= get_video_info(vi_ids)
    com_details= get_comment_info(vi_ids)

    coll1= db["channel_details"]
    coll1.insert_one({"channel_information":ch_details, "playlist_information":pl_details,
                      "video_information":vi_details,"comment_information":com_details})

    return "upload completed successfully"

In [22]:
single_comments_details= []
db=client["Youtube_data"]
coll1= db["channel_details"]
for ch_data in coll1.find({"channel_information.Channel_Name": "Mr. GK"},{"_id":0}):
    single_comments_details.append(ch_data["comment_information"])

df_single_comments_details = pd.DataFrame(single_comments_details[0])

df_single_comments_details["Comment_Published"] = df_single_comments_details["Comment_Published"].apply(
    lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
)

In [ ]:
df_single_comments_details

In [ ]:
single_playlist_details= []
db=client["Youtube_data"]
coll1= db["channel_details"]
for ch_data in coll1.find({"channel_information.Channel_Name": "Mr. GK"},{"_id":0}):
    single_playlist_details.append(ch_data["playlist_information"])

df_single_playlist_details = pd.DataFrame(single_playlist_details[0])

df_single_playlist_details['PublishedAt'] = df_single_playlist_details['PublishedAt'].apply(
    lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
)

In [ ]:
df_single_playlist_details

In [14]:
single_videos_details= []
db=client["Youtube_data"]
coll1= db["channel_details"]
for ch_data in coll1.find({"channel_information.Channel_Name": "Mr. GK"},{"_id":0}):
    single_videos_details.append(ch_data["video_information"])

df_single_videos_details = pd.DataFrame(single_videos_details[0])

df_single_videos_details = df_single_videos_details.map(lambda x: ', '.join(map(str, x)) if isinstance(x, list) else x)

df_single_videos_details['Published'] = df_single_videos_details['Published'].apply(
    lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
)

# single_videos_details = single_videos_details.map(lambda x: ', '.join(map(str, x)) if isinstance(x, list) else x)

In [ ]:
df_single_videos_details

In [ ]:
# channel ids
# mr.GK channel id =  "UC5cY198GU1MQMIPJgMkCJ_Q" 
# science with sam = "UChGd9JY4yMegY6PxqpBjpRA"
# Rich Mindset = "UC8iZZpzkBAXexWNBprWz3Aw"
# all in one tamil channel = "UC1WEyLaSHvZlc9B4-qgqScw"
#tamil business podcast = "UCy1lBBbXhtfzugF_LK2b6Yw"

In [43]:
insert=channel_details("UCy1lBBbXhtfzugF_LK2b6Yw")

In [44]:
insert

'upload completed successfully'

### channel table

In [36]:
# table creation for chanels,playlists,videos,comments

def channels_table(channel_name_s):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="youtube_data"
    )

    cursor = mydb.cursor()

    
    create_query='''create table if not exists channels(Channel_Name varchar(100),
                                                        Channel_Id varchar(80) primary key,
                                                        Subscribers bigint,
                                                        Views bigint,
                                                        Total_Videos int,
                                                        Channel_Description text,
                                                        Playlist_Id varchar(80))'''
    cursor.execute(create_query)
    mydb.commit()

    


    single_channel_detail=[]
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for ch_data in coll1.find({"channel_information.Channel_Name": channel_name_s},{"_id":0}):
        single_channel_detail.append(ch_data["channel_information"])

    df_single_channel_detail = pd.DataFrame(single_channel_detail)


    for index,row in df_single_channel_detail.iterrows():
        insert_query='''insert into channels(Channel_Name,
                                            Channel_Id,
                                            Subscribers,
                                            Views,
                                            Total_Videos,
                                            Channel_Description,
                                            Playlist_Id)

                                            values(%s,%s,%s,%s,%s,%s,%s)'''
        values=(row['Channel_Name'],
                row['Channel_Id'],
                row['Subscribers'],
                row['Views'],
                row['Total_Videos'],
                row['Channel_Description'],
                row['Playlist_Id'])

        try:
            cursor.execute(insert_query, values)
            mydb.commit()

        except:

            news = f"your provided channel name {channel_name_s} is already exists"

            return news

In [37]:
channels_table("Mr. GK")

'your provided channel name Mr. GK is already exists'

In [ ]:
# ch_list=[]
# db=client["Youtube_data"]
# coll1= db["channel_details"]
# for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
#     ch_list.append(ch_data['channel_information'])
# df = pd.DataFrame(ch_list)

### playlist table

In [37]:

def playlist_table(channel_name_s):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="youtube_data"
    )

    cursor = mydb.cursor()



    create_query='''create table if not exists playlists(Playlist_Id varchar(100) primary key,
                                                        Title varchar(100),
                                                        Channel_Id varchar(100),
                                                        Channel_Name varchar(100),
                                                        PublishedAt timestamp,
                                                        Video_Count int
                                                        )'''


    cursor.execute(create_query)
    mydb.commit()

    single_playlist_details= []
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for ch_data in coll1.find({"channel_information.Channel_Name": channel_name_s},{"_id":0}):
        single_playlist_details.append(ch_data["playlist_information"])

    df_single_playlist_details = pd.DataFrame(single_playlist_details[0])

    df_single_playlist_details['PublishedAt'] = df_single_playlist_details['PublishedAt'].apply(
        lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
    )


    for index,row in df_single_playlist_details.iterrows():
        insert_query='''insert into playlists(Playlist_Id,
                                            Title,
                                            Channel_Id,
                                            Channel_Name,
                                            PublishedAt,
                                            Video_Count
                                            )

                                            values(%s,%s,%s,%s,%s,%s)'''
        values=(row['Playlist_Id'],
                row['Title'],
                row['Channel_Id'],
                row['Channel_Name'],
                row['PublishedAt'],
                row['Video_Count']
                )

        
        cursor.execute(insert_query, values)
        mydb.commit()

In [39]:
playlist_table("Science With Sam - அறிவியல் அறிவோம் !")

In [67]:
pl_list=[]
db=client["Youtube_data"]
coll1= db["channel_details"]
for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
    for i in range(len(pl_data["playlist_information"])):
        pl_list.append(pl_data["playlist_information"][i])
df1 = pd.DataFrame(pl_list)

df1['PublishedAt'] = df1['PublishedAt'].apply(
    lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
)

In [ ]:
df1

In [ ]:
# DataFrame column  "PublishedAt", you can clean all rows in one go


# from datetime import datetime

# df1['PublishedAt'] = df1['PublishedAt'].apply(
#     lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
# )

### video table

In [2]:

def video_table(channel_name_s):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="youtube_data"
    )

    cursor = mydb.cursor()


    create_query='''create table if not exists videos(Channel_Name varchar(100),                                                   
                                                        Channel_Id varchar(100),
                                                        Video_Id varchar(30) primary key,
                                                        Title varchar(150),
                                                        Tags text,
                                                        Thumbnail varchar(200),
                                                        Description text,
                                                        Published timestamp,
                                                        Duration varchar(50),
                                                        Views bigint,
                                                        Likes bigint,
                                                        Comments int,
                                                        Favourite_Count int,
                                                        Definition varchar(10),
                                                        Caption_Status varchar(50)
                                                        )'''

    cursor.execute(create_query)
    mydb.commit()


    single_videos_details= []
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for ch_data in coll1.find({"channel_information.Channel_Name": channel_name_s},{"_id":0}):
        single_videos_details.append(ch_data["video_information"])

    df_single_videos_details = pd.DataFrame(single_videos_details[0])

    df_single_videos_details = df_single_videos_details.map(lambda x: ', '.join(map(str, x)) if isinstance(x, list) else x)

    df_single_videos_details['Published'] = df_single_videos_details['Published'].apply(
        lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
    )


    for index,row in df_single_videos_details.iterrows():
        insert_query='''insert into videos(Channel_Name,      
                                            Channel_Id,
                                            Video_Id,
                                            Title,
                                            Tags,
                                            Thumbnail,
                                            Description,
                                            Published,
                                            Duration,
                                            Views,
                                            Likes,
                                            Comments,
                                            Favourite_Count,
                                            Definition,
                                            Caption_Status
                                            )


                                            values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
        values=(row['Channel_Name'],
                row['Channel_Id'],
                row['Video_Id'],
                row['Title'],
                row['Tags'],
                row['Thumbnail'],
                row['Description'],
                row['Published'],
                row['Duration'],
                row['Views'],
                row['Likes'],
                row['Comments'],
                row['Favourite_Count'],
                row['Definition'],
                row['Caption_Status'])

        cursor.execute(insert_query, values)
        mydb.commit()

In [6]:
video_table("Science With Sam - அறிவியல் அறிவோம் !")

In [ ]:
# vi_list=[]
# db=client["Youtube_data"]
# coll1= db["channel_details"]
# for vi_data in coll1.find({},{"_id":0,"video_information":1}):
#     for i in range(len(vi_data["video_information"])):
#         vi_list.append(vi_data["video_information"][i])
# df2 = pd.DataFrame(vi_list)

# df2 = df2.map(lambda x: ', '.join(map(str, x)) if isinstance(x, list) else x)

# df2['Published'] = df2['Published'].apply(
#     lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
# )

In [ ]:
df2

In [ ]:



# for index,row in df2.iterrows():
#     insert_query='''insert into videos(Channel_Name,      
#                                         Channel_Id,
#                                         Video_Id,
#                                         Title,
#                                         Tags,
#                                         Thumbnail,
#                                         Description,
#                                         Published,
#                                         Duration,
#                                         Views,
#                                         Likes,
#                                         Comments,
#                                         Favourite_Count,
#                                         Definition,
#                                         Caption_Status
#                                         )


#                                         values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''
#     values=(row['Channel_Name'],
#             row['Channel_Id'],
#             row['Video_Id'],
#             row['Title'],
#             row['Tags'],
#             row['Thumbnail'],
#             row['Description'],
#             row['Published'],
#             row['Duration'],
#             row['Views'],
#             row['Likes'],
#             row['Comments'],
#             row['Favourite_Count'],
#             row['Definition'],
#             row['Caption_Status'])

#     cursor.execute(insert_query, values)
#     mydb.commit()

In [81]:
df2.columns

Index(['Channel_Name', 'Channel_Id', 'Video_Id', 'Title', 'Tags', 'Thumbnail',
       'Description', 'Published', 'Duration', 'Views', 'Likes', 'Comments',
       'Favourite_Count', 'Definition', 'Caption_Status'],
      dtype='object')

### comment table

In [24]:

def comments_table(channel_name_s):
    mydb = mysql.connector.connect(
        host="localhost",
        port = '3306',
        user="root",        # or your MySQL username
        password="1234", # your MySQL password
        database="youtube_data"
    )

    cursor = mydb.cursor()




    create_query='''create table if not exists comments(Comment_Id varchar(100) primary key,
                                                        Video_Id varchar(50),
                                                        Comment_Text text,
                                                        Comment_Author varchar(150),
                                                        Comment_Published timestamp
                                                        )'''

    cursor.execute(create_query)
    mydb.commit()

    single_comments_details= []
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for ch_data in coll1.find({"channel_information.Channel_Name": channel_name_s},{"_id":0}):
        single_comments_details.append(ch_data["comment_information"])

    df_single_comments_details = pd.DataFrame(single_comments_details[0])

    df_single_comments_details["Comment_Published"] = df_single_comments_details["Comment_Published"].apply(
        lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
    )


    for index,row in df_single_comments_details.iterrows():
        insert_query='''insert into comments(Comment_Id,      
                                            Video_Id,
                                            Comment_Text,
                                            Comment_Author,
                                            Comment_Published
                                            )


                                            values(%s,%s,%s,%s,%s)'''
        values=(row['Comment_Id'],
                row['Video_Id'],
                row['Comment_Text'],
                row['Comment_Author'],
                row['Comment_Published']
                )

        cursor.execute(insert_query, values)
        mydb.commit()

In [26]:
comments_table("Science With Sam - அறிவியல் அறிவோம் !")

In [ ]:
# com_list=[]
# db=client["Youtube_data"]
# coll1= db["channel_details"]
# for com_data in coll1.find({},{"_id":0,"comment_information":1}):
#     for i in range(len(com_data["comment_information"])):
#         com_list.append(com_data["comment_information"][i])
# df3 = pd.DataFrame(com_list)

# df3['Comment_Published'] = df3['Comment_Published'].apply(
#     lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
# )

In [32]:
df3.columns

Index(['Comment_Id', 'Video_Id', 'Comment_Text', 'Comment_Author',
       'Comment_Published'],
      dtype='object')

In [ ]:


# for index,row in df3.iterrows():
#     insert_query='''insert into comments(Comment_Id,      
#                                         Video_Id,
#                                         Comment_Text,
#                                         Comment_Author,
#                                         Comment_Published
#                                         )


#                                         values(%s,%s,%s,%s,%s)'''
#     values=(row['Comment_Id'],
#             row['Video_Id'],
#             row['Comment_Text'],
#             row['Comment_Author'],
#             row['Comment_Published']
#             )

#     cursor.execute(insert_query, values)
#     mydb.commit()

### creating all tables at one

In [35]:
def tables():
    channels_table()
    playlist_table()
    video_table()
    comments_table()

    return "Tables Created Successfully"

In [36]:
Tables=tables()

In [37]:
Tables

'Tables Created Successfully'

In [47]:
def show_channels_table():
    ch_list=[]
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_list.append(ch_data['channel_information'])
    df = st.dataframe(ch_list)

    return df

In [56]:
def show_playlists_table():
    pl_list=[]
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
            pl_list.append(pl_data["playlist_information"][i])
    df1 = pd.DataFrame(pl_list)

    df1['PublishedAt'] = df1['PublishedAt'].apply(
        lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
    )

    st.dataframe(df1)

    return df1

In [55]:
def show_videos_table():
    vi_list=[]
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for vi_data in coll1.find({},{"_id":0,"video_information":1}):
        for i in range(len(vi_data["video_information"])):
            vi_list.append(vi_data["video_information"][i])
    df2 = pd.DataFrame(vi_list)

    df2 = df2.map(lambda x: ', '.join(map(str, x)) if isinstance(x, list) else x)

    df2['Published'] = df2['Published'].apply(
        lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
    )

    st.dataframe(df2)

    return df2

In [54]:
def show_comments_table():
    com_list=[]
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for com_data in coll1.find({},{"_id":0,"comment_information":1}):
        for i in range(len(com_data["comment_information"])):
            com_list.append(com_data["comment_information"][i])
    df3 = pd.DataFrame(com_list)

    df3['Comment_Published'] = df3['Comment_Published'].apply(
        lambda x: datetime.fromisoformat(x.replace("Z", "+00:00")).strftime('%Y-%m-%d %H:%M:%S')
    )

    st.dataframe(df3)

    return df3

In [ ]:
#stremlit part
with st.sidebar:
    st.title(":red[YOUTUBE DATA HAVERSTING AND WAREHOUSING]")
    st.header("Skill Take Away")
    st.caption("Python Scripting")
    st.caption("Data Collection")
    st.caption("MongoDB")
    st.caption("API Integration")
    st.caption("Data Management using MongoDB and SQL")

channel_id=st.text_input("Enter the channel ID")

if st.button("collect and store data"):
    ch_ids=[]
    db=client["Youtube_data"]
    coll1= db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_ids.append(ch_data['channel_information']['Channel_Id'])

    if channel_id in ch_ids:
        st.success("Channel Details of the given channelid already exists")

    else:
        insert=channel_details(channel_id)
        st.success(insert)

if st.button("Migrate to Sql"):
    Table=tables()
    st.success(Table)

show_table=st.radio("SELECT THE TABLE FOR VIEW", ("CHANNELS","PLAYLISTS","VIDEOS","COMMENTS"))

if show_table=="CHANNELS":
    show_channels_table()

elif show_table=="PLAYLISTS":
    show_playlists_table()

elif show_table=="VIDEOS":
    show_videos_table()

elif show_table=="COMMENTS":
    show_comments_table()

In [ ]:
#sql connection
mydb = mysql.connector.connect(
    host="localhost",
    port = '3306',
    user="root",        # or your MySQL username
    password="1234", # your MySQL password
    database="youtube_data"
)

cursor = mydb.cursor()

question=st.selectbox("Select your question",("1. All the videos and the channel name",
                                              "2. channels with most number of videos",
                                              "3. 10 most viewed videos",
                                              "4. comments in each videos",
                                              "5. Videos with higest likes",
                                              "6. likes of all videos",
                                              "7. views of each channel",
                                              "8. videos published in the year of 2022",
                                              "9. average duration of all videos in each channel",
                                              "10. videos with highest number of comments"))

if question=="1. All the videos and the channel name":
    query1='''select title as videos,channel_name as channelname from videos'''
    cursor.execute(query1)

    t1=cursor.fetchall()
    df = pd.DataFrame(t1,columns=["video title","channel name"])
    st.write(df) 

elif question=="2. channels with most number of videos":
    query2='''select channel_name as channelname,total_videos as no_videos from channels
                order by total_videos desc'''
    cursor.execute(query2)

    t2=cursor.fetchall()
    df2 = pd.DataFrame(t2,columns=["channel name","No of videos"])
    st.write(df2)   

elif question=="3. 10 most viewed videos":
    query3='''select views as views,channel_name as channelname,title as videotitle from videos
                where views is not null order by views desc limit 10'''
    cursor.execute(query3)

    t3=cursor.fetchall()
    df3 = pd.DataFrame(t3,columns=["views","channel name","videotitle"])
    st.write(df3)   

elif question=="4. comments in each videos":
    query4='''select comments as no_comments,title as videotitle from videos
                where comments is not null'''
    cursor.execute(query4)

    t4=cursor.fetchall()
    df4 = pd.DataFrame(t4,columns=["no of comments","videotitle"])
    st.write(df4)  

elif question=="5. Videos with higest likes":
    query5='''select title as videotitle,channel_name as channelname,likes as likecount
                 from videos where likes is not null order by likes desc'''
    cursor.execute(query5)

    t5=cursor.fetchall()
    df5 = pd.DataFrame(t5,columns=["videotitle","channelname","likecount"])
    st.write(df5)  

elif question=="6. likes of all videos":
    query6='''select likes as likecount,title as videotitle from videos'''
    cursor.execute(query6)

    t6=cursor.fetchall()
    df6 = pd.DataFrame(t6,columns=["likecount","videotitle"])
    st.write(df6)

elif question=="7. views of each channel":
    query7='''select channel_name as channelname ,views as totalviews from channels'''
    cursor.execute(query7)

    t7=cursor.fetchall()
    df7 = pd.DataFrame(t7,columns=["channel name","totalviews"])
    st.write(df7) 

elif question=="8. videos published in the year of 2022":
    query8='''select title as video_title,published as videorelease,channel_name as channelname from videos
                where extract(year from published)=2022'''
    cursor.execute(query8)
    
    t8=cursor.fetchall()
    df8 = pd.DataFrame(t8,columns=["videotitle","published_date","channelname"])
    st.write(df8)  

elif question=="9. average duration of all videos in each channel":
    query9='''select channel_name as channelname,AVG(duration) as averageduration from videos group by channel_name'''
    cursor.execute(query9)

    t9=cursor.fetchall()
    df9=pd.DataFrame(t9,columns=["channelname","averageduration"])
    df9
    T9=[]
    for index,row in df9.iterrows():
        channel_title=row["channelname"]
        average_duration=row["averageduration"]
        average_duration_str=str(average_duration)
        T9.append(dict(channeltitle=channel_title,avgduration=average_duration_str))
    df1=pd.DataFrame(T9)
    st.write(df1) 

elif question=="10. videos with highest number of comments":
    query10='''select title as videotitle, channel_name as channelname,comments as comments from videos where comments is
                not null order by comments desc'''
    cursor.execute(query10)

    t10=cursor.fetchall()
    df10=pd.DataFrame(t10,columns=["video title","channel name","comments"])
    st.write(df10)

In [45]:
#sql connection
mydb = mysql.connector.connect(
    host="localhost",
    port = '3306',
    user="root",        # or your MySQL username
    password="1234", # your MySQL password
    database="youtube_data"
)

cursor = mydb.cursor()

if question=="10. videos with highest number of comments":
    query10='''select title as videotitle, channel_name as channelname,comments as comments from videos where comments is
                not null order by comments desc'''
    cursor.execute(query10)

    t10=cursor.fetchall()
    df10=pd.DataFrame(t10,columns=["video title","channel name","comments"])
    st.write(df10)

In [46]:
query10='''select title as videotitle, channel_name as channelname,comments as comments from videos where comments is
            not null order by comments desc'''
cursor.execute(query10)

t10=cursor.fetchall()
df10=pd.DataFrame(t10,columns=["video title","channel name","comments"])
st.write(df10)

2025-10-27 21:52:08.033 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-27 21:52:08.103 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-10-27 21:52:08.116 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.